
.category{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding:30px 80px 0px 80px;
    margin: 0;
    color: white;
}
h3{
    font-size: 1.2rem;
}
.button {
  --dark: #000000;
  --light: #ffffff;
  --active: 0;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  transform-origin: center;

  background-color: transparent;

  border: none;
}

.button:hover {
  --active: 1;
}

.icon_cont {
  overflow: clip;

  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(var(--active) * 1.5rem + (1 - var(--active)) * 0.5rem);
  height: calc(var(--active) * 1.5rem + (1 - var(--active)) * 0.5rem);
  background-color: hsla(0, 0%, 85%, var(--active));

  border: 1px solid var(--light);
  border-radius: 9999px;
  transition: all 0.5s ease-in-out;
}

.icon {
  font-size: 0.75rem;
  color: var(--dark);
  line-height: 1rem;

  transform: translateX(calc(-1rem * (1 - var(--active))));
  transition: transform 0.5s ease-in-out;
}

.text_button {
  position: relative;

  display: inline-block;

  padding-block: 0.5rem;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);

  text-transform: capitalize;
}


.carousel {
  
  position: relative;
  padding: 0px;
  overflow-x: auto;
  cursor: grab;
  user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &.dragging {
    cursor: grabbing;
    user-select: none;
  }
  .movie-list-container{
    padding: 15px 0px;
  }
  .carousel-track {
    padding: 16px 60px;
    display: flex;
    gap: 1rem;
    
    position: relative;
    align-items: flex-start;
    
  }
  .movie-card {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 320px;
    border-radius: 12px;
    background: #000000;
    padding: 0.5rem;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
    a{
      display: flex;
    }
    img {
      width: 100%;
      border-radius: 8px;
    }
    
  }
  .movie-card:hover{
    scale: 1.15;
    box-shadow: 0px 0px 10px 5px #f51b1b;
    z-index: 100;
  }
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel.dragging a {
  pointer-events:none;
}
