.carousel {
  
  position: relative;
  padding: 0px;
  overflow-x: auto;
  cursor: grab;
  user-select: none;
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE/Edge
  &::-webkit-scrollbar {
    display: none; // Chrome/Safari
  }
  &.dragging {
    cursor: grabbing;
  }
  .carousel-track {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    align-items: flex-start;
    
  }
  .movie-card {
    flex: 0 0 auto;
    width: 320px;
    border-radius: 12px;
    background: #1e1e1e;
    color: white;
    padding: 0.5rem;
    text-align: start;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    box-shadow: 2px 2px 15px rgb(63, 63, 63);
    img {
      width: 100%;
      border-radius: 8px;
    }
    .extra-info {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: 0.2rem;
        font-size: 0.9rem;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        
        
        h3 {
          margin: 0.1rem 0;
          font-size: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
    }
    &.expanded {
      transform:  scale(1.05);
      z-index: 100;
      background: #292929;
      box-shadow: 0px 0px 15px 5px #d10303;
      .extra-info {
          opacity: 1;
          max-height: 200px;
      }
    }
  }
  .movie-card:hover{
    scale: 1.03;
    box-shadow: 0px 0px 10px 5px #f51b1b;
  }
}
.carousel.dragging {
  cursor: grabbing;
  user-select: none;      // empêche la sélection du texte
}
.carousel.dragging img {
  pointer-events: none;   // empêche l’image de capturer le drag
}
